.FILETYPE ExtendedPrint SetupFile
.VERSION "VB99.0"
.CREATOR "Expedition PCB PDF Output"
.DATE "Wednesday, September 30, 2020 09:02 AM"

.BaseUnits "1NM"

.FillText No
.FitDrawing No
.PDFFileName "D:\\Vb-master\\Mas\\Mas100n1 ACB_0001_0\\Output\\PDF\\Mas100n1 ACUBE_PORTABILE R_0"


.SheetName "Sheet1"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Board Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Board Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"
   ...LayerName "Lyr 5"
   ...LayerName "Lyr 6"
   ...LayerName "Lyr 7"
   ...LayerName "Lyr 8"
   ...LayerName "Lyr 9"
   ...LayerName "Lyr 10"
   ...LayerName "Meccanica"
   ...LayerName "Cartiglio"
   ...LayerName "Quote"
   ...LayerName "Logo-LS"
   ...LayerName "Logo-SK"
   ...LayerName "Logo-LC"
   ...LayerName "FOOTPRINT"
   ...LayerName "ASSY"

 ..ConductiveLayer 1
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem Thieving
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads

 ..ConductiveLayer 2
   ...ProcessLayer No

 ..ConductiveLayer 3
   ...ProcessLayer No

 ..ConductiveLayer 4
   ...ProcessLayer No

 ..ConductiveLayer 5
   ...ProcessLayer No

 ..ConductiveLayer 6
   ...ProcessLayer No

 ..ConductiveLayer 7
   ...ProcessLayer No

 ..ConductiveLayer 8
   ...ProcessLayer No

 ..ConductiveLayer 9
   ...ProcessLayer No

 ..ConductiveLayer 10
   ...ProcessLayer No
 ..BoardItem BoardOutline

.SheetName "Sheet10"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Board Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Board Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"
   ...LayerName "Lyr 5"
   ...LayerName "Lyr 6"
   ...LayerName "Lyr 7"
   ...LayerName "Lyr 8"
   ...LayerName "Lyr 9"
   ...LayerName "Lyr 10"
   ...LayerName "Meccanica"
   ...LayerName "Cartiglio"
   ...LayerName "Quote"
   ...LayerName "Logo-LS"
   ...LayerName "Logo-SK"
   ...LayerName "Logo-LC"
   ...LayerName "FOOTPRINT"
   ...LayerName "ASSY"

 ..ConductiveLayer 10
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem Thieving
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads
 ..BoardItem BoardOutline

.SheetName "Sheet2"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Board Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Board Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"
   ...LayerName "Lyr 5"
   ...LayerName "Lyr 6"
   ...LayerName "Lyr 7"
   ...LayerName "Lyr 8"
   ...LayerName "Lyr 9"
   ...LayerName "Lyr 10"
   ...LayerName "Meccanica"
   ...LayerName "Cartiglio"
   ...LayerName "Quote"
   ...LayerName "Logo-LS"
   ...LayerName "Logo-SK"
   ...LayerName "Logo-LC"
   ...LayerName "FOOTPRINT"
   ...LayerName "ASSY"

 ..ConductiveLayer 2
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem Thieving
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads
 ..BoardItem BoardOutline

.SheetName "Sheet3"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Board Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Board Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"
   ...LayerName "Lyr 5"
   ...LayerName "Lyr 6"
   ...LayerName "Lyr 7"
   ...LayerName "Lyr 8"
   ...LayerName "Lyr 9"
   ...LayerName "Lyr 10"
   ...LayerName "Meccanica"
   ...LayerName "Cartiglio"
   ...LayerName "Quote"
   ...LayerName "Logo-LS"
   ...LayerName "Logo-SK"
   ...LayerName "Logo-LC"
   ...LayerName "FOOTPRINT"
   ...LayerName "ASSY"

 ..ConductiveLayer 3
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem Thieving
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads
 ..BoardItem BoardOutline

.SheetName "Sheet4"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Board Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Board Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"
   ...LayerName "Lyr 5"
   ...LayerName "Lyr 6"
   ...LayerName "Lyr 7"
   ...LayerName "Lyr 8"
   ...LayerName "Lyr 9"
   ...LayerName "Lyr 10"
   ...LayerName "Meccanica"
   ...LayerName "Cartiglio"
   ...LayerName "Quote"
   ...LayerName "Logo-LS"
   ...LayerName "Logo-SK"
   ...LayerName "Logo-LC"
   ...LayerName "FOOTPRINT"
   ...LayerName "ASSY"

 ..ConductiveLayer 4
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem Thieving
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads
 ..BoardItem BoardOutline

.SheetName "Sheet5"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Board Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Board Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"
   ...LayerName "Lyr 5"
   ...LayerName "Lyr 6"
   ...LayerName "Lyr 7"
   ...LayerName "Lyr 8"
   ...LayerName "Lyr 9"
   ...LayerName "Lyr 10"
   ...LayerName "Meccanica"
   ...LayerName "Cartiglio"
   ...LayerName "Quote"
   ...LayerName "Logo-LS"
   ...LayerName "Logo-SK"
   ...LayerName "Logo-LC"
   ...LayerName "FOOTPRINT"
   ...LayerName "ASSY"

 ..ConductiveLayer 5
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem Thieving
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads
 ..BoardItem BoardOutline

.SheetName "Sheet6"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Board Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Board Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"
   ...LayerName "Lyr 5"
   ...LayerName "Lyr 6"
   ...LayerName "Lyr 7"
   ...LayerName "Lyr 8"
   ...LayerName "Lyr 9"
   ...LayerName "Lyr 10"
   ...LayerName "Meccanica"
   ...LayerName "Cartiglio"
   ...LayerName "Quote"
   ...LayerName "Logo-LS"
   ...LayerName "Logo-SK"
   ...LayerName "Logo-LC"
   ...LayerName "FOOTPRINT"
   ...LayerName "ASSY"

 ..ConductiveLayer 6
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem Thieving
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads
 ..BoardItem BoardOutline

.SheetName "Sheet7"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Board Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Board Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"
   ...LayerName "Lyr 5"
   ...LayerName "Lyr 6"
   ...LayerName "Lyr 7"
   ...LayerName "Lyr 8"
   ...LayerName "Lyr 9"
   ...LayerName "Lyr 10"
   ...LayerName "Meccanica"
   ...LayerName "Cartiglio"
   ...LayerName "Quote"
   ...LayerName "Logo-LS"
   ...LayerName "Logo-SK"
   ...LayerName "Logo-LC"
   ...LayerName "FOOTPRINT"
   ...LayerName "ASSY"

 ..ConductiveLayer 7
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem Thieving
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads
 ..BoardItem BoardOutline

.SheetName "Sheet8"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Board Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Board Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"
   ...LayerName "Lyr 5"
   ...LayerName "Lyr 6"
   ...LayerName "Lyr 7"
   ...LayerName "Lyr 8"
   ...LayerName "Lyr 9"
   ...LayerName "Lyr 10"
   ...LayerName "Meccanica"
   ...LayerName "Cartiglio"
   ...LayerName "Quote"
   ...LayerName "Logo-LS"
   ...LayerName "Logo-SK"
   ...LayerName "Logo-LC"
   ...LayerName "FOOTPRINT"
   ...LayerName "ASSY"

 ..ConductiveLayer 8
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem Thieving
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads
 ..BoardItem BoardOutline

.SheetName "Sheet9"
 ..ProcessSheet Yes
 ..UseLayering No
 ..PageSize None
 ..Orientation BestFit
 ..ScaleFactor 1.000000
 ..CurrentView No
 ..HeaderText
   ...CommentLine ""
 ..TrailerText
   ...CommentLine ""
 ..LayerOrder
   ...LayerName "Detailed Views"
   ...LayerName "Assembly - Top"
   ...LayerName "Assembly - Bottom"
   ...LayerName "Silkscreen - Top"
   ...LayerName "Silkscreen - Bottom"
   ...LayerName "Die Pins - Top"
   ...LayerName "Die Pins - Bottom"
   ...LayerName "Bond Wires - Top"
   ...LayerName "Bond Wires - Bottom"
   ...LayerName "Board Origin"
   ...LayerName "NCDrill Origin"
   ...LayerName "Drill Drawing - Through"
   ...LayerName "Holes"
   ...LayerName "Top"
   ...LayerName "Bottom"
   ...LayerName "Solderpaste - Top"
   ...LayerName "Solderpaste - Bottom"
   ...LayerName "Soldermask - Top"
   ...LayerName "Soldermask - Bottom"
   ...LayerName "Cavity"
   ...LayerName "Contour"
   ...LayerName "DRC Window"
   ...LayerName "Board Outline"
   ...LayerName "Route Border"
   ...LayerName "Manufacturing Outline"
   ...LayerName "Test Fixture Outline"
   ...LayerName "Redline Layer"
   ...LayerName "Lyr 1"
   ...LayerName "Lyr 2"
   ...LayerName "Lyr 3"
   ...LayerName "Lyr 4"
   ...LayerName "Lyr 5"
   ...LayerName "Lyr 6"
   ...LayerName "Lyr 7"
   ...LayerName "Lyr 8"
   ...LayerName "Lyr 9"
   ...LayerName "Lyr 10"
   ...LayerName "Meccanica"
   ...LayerName "Cartiglio"
   ...LayerName "Quote"
   ...LayerName "Logo-LS"
   ...LayerName "Logo-SK"
   ...LayerName "Logo-LC"
   ...LayerName "FOOTPRINT"
   ...LayerName "ASSY"

 ..ConductiveLayer 9
   ...ProcessLayer Yes
   ...ConductiveItem Bondpads
   ...ConductiveItem Thieving
   ...ConductiveItem EmbeddedCapPads
   ...ConductiveItem EmbeddedResPads
   ...ConductiveItem EtchedText
   ...ConductiveItem Fiducials
   ...ConductiveItem PartPadsSMD
   ...ConductiveItem PartPadsTest
   ...ConductiveItem PartPadsThru
   ...ConductiveItem PlaneData
   ...ConductiveItem PlaneNoConnect
   ...ConductiveItem PlaneObstruct
   ...ConductiveItem PlaneShape
   ...ConductiveItem ResistorAreas
   ...ConductiveItem RouteObstruct
   ...ConductiveItem RuleArea
   ...ConductiveItem Traces
   ...ConductiveItem ViaHoles
   ...ConductiveItem ViaPads
 ..BoardItem BoardOutline

.OutputVariants NO
.VariantList "Master"

